﻿@charset "utf-8";
/* =========================================================
 ◆ Responsive TOP PAGE CSS
========================================================= */

/* screens default
***************************************/

/* screens smaller than 1440
***************************************/
@media screen and (max-width: 1440px){


}

/* screens smaller than 960
***************************************/
@media screen and (max-width: 960px){


}

/* screens smaller than 768
**************************************/
@media screen and (max-width: 767px){
	
#dirPath { display:none; }

#Head { position: fixed; max-width: none; min-width: 0; }
#Gnav { position: fixed; max-width: none; min-width: 0; top: 0; }
#Main { padding-top: 50px; }
.old_android #Main { padding-top: 0; }

#Main .titlearea01 h2.titlestyle01 { padding: 0 14px;}
#Main h2 span.super, 
#Mainvis h2 span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:9px; display:block; font-weight:bold;}
#Main h2 span.mtxt,
#Mainvis h2 span.mtxt { font-size:37px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1;}
.titlearea01 { padding-top:26px !important; }

/* =========================================================
 ◆ performance CSS
========================================================= */
.perfomance #Main { padding-top:0; }
.perfomance #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
.perfomance #Mainvis .titlearea01 { margin-bottom: 7px; }
.perfomance #Mainvis h2 span.mtxt { font-size: 45px; color:#333; }

.perfomance #Mainvis #Mainvis_inner { width:100%; }
.perfomance #Mainvis #Mainvis_inner .mainimg { width:100%; height:570px; margin:0 auto; background:url(../../performance/images/bg_main_sp.png) center bottom no-repeat; -webkit-background-size: cover !important; background-size: cover !important; }

.perfomance #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
.perfomance #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; } 
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
.perfomance #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:auto; padding:0 6.25% !important;}
.perfomance #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:108%; color:#666666; margin-left:0 !important; width:auto; margin-bottom:23px; }

.perfomance .perfombox_01 { width:87.5%; margin:25px auto 20px !important; }
.perfomance .perfombox_01 .l_box_inner { width: 100%; float: left; }
.perfomance .perfombox_01 .l_box { width:100%; margin-bottom: 15px; }
.perfomance .perfombox_01 .r_box { width:100%; }
.perfomance .perfombox_01 .l_box img { width:100%; height:auto; margin-bottom: 15px; }
.perfomance .perfombox_01 .r_box .r_box_inner { margin-bottom:10px; }


.perfomance .perfombox_01 .r_box .r_box_inner_l { width:32%; margin-right:2%; }
.perfomance .perfombox_01 .r_box .r_box_inner_c { width:32%; margin-right:2%; }
.perfomance .perfombox_01 .r_box .r_box_inner_r { width:32%; }
.perfomance .perfombox_01 .r_box .inner_img { margin-bottom:5px; }

.perfomance .perfombox_02 { width:87.5%; margin:0 auto 40px !important; }
.perfomance .perfombox_02 .txtstyle_01 { margin-bottom: 15px; }
.perfomance .perfombox_02 .l_box { width:100%; margin-right:0; display:inline;float:left; }
.perfomance .perfombox_02 .r_box { width: 100%; }
.perfomance .perfombox_02 .r_box img { width: 100%; height:auto;  }

.perfomance .perfombox_03 { width:87.5%; margin:0 auto 40px !important; }
.perfomance .perfombox_03 .l_box { width:100%; }
.perfomance .perfombox_03 .r_box { width:100%; margin-bottom:10px; }
.perfomance .perfombox_03 .r_box .img_logo , .img_4wd { display:none }
.perfomance .perfombox_03 .l_box .hidden_img { display:block; width:100%; float:right; padding:0 0 10px 20px }
.perfomance .perfombox_03 .l_box .hidden_img img { width: 100%; height:auto; }

.perfomance .perfombox_04 { width:87.5%; margin:0 auto 10px !important; }
.perfomance .perfombox_04 .l_box { width:100%; margin-bottom:30px; }
.perfomance .perfombox_04 .r_box { width:100%; margin-bottom:20px; }
.perfomance h4.txtstyle_04 { font-size:28px; margin-bottom:15px; line-height:1.0; }


.perfomance .perfombox_05 { width:87.5%; margin:0 auto 10px !important; }
.perfomance .perfombox_05 .l_box { width:100%; margin-bottom:30px; }
.perfomance .perfombox_05 .r_box { width:100%; margin-bottom:20px; }

.perfomance .txtstyle_01 { font-size:15px; line-height:1.4; }
.perfomance .txtstyle_02 { font-size:10px; line-height:1.4; font-style:italic; }
.perfomance .txtstyle_03 { font-size:28px; margin-bottom:15px; line-height:1.0; }


/* =========================================================
 ◆ Models Page CSS
========================================================= */
.models .titlearea01 { padding-top: 25px; margin-bottom: 13px;}
.models .models_tab { width: 87.5%; margin: 0 auto 48px;}
.models .models_tab #Tabs {margin-bottom: 0;}
.models .sort_box { margin-bottom: 20px;}
.models .sort_box .sort_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
.models .sort_box .sort_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../../models/images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
.models .sort_box .sort_name span.active { background: url(../../models/images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
.models .sort_box .sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
.models .sort_box .sort_btn li { width: 100%; display: block; float: none; margin-right: 0px; background: #EEEEEE; text-align: center; border: none; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px; }

.models .sort_box .sort_btn li.last { border-right:none;}
.models .sort_box .sort_btn li a { display: block; color: #333333; text-decoration: none; font-size:138.5%; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.models .sort_box .sort_btn li.active { background: #D2D2D2; }
.models .models_tab .tabBox { border: none;}
.models .models_tab .tabBox .img_area { margin-bottom: 20px;}
.models .models_tab .tabBox .img_area .img_area_l { display: block; float: none; width: 97%; padding: 0; margin: 0 auto 15px;}
.models .models_tab .tabBox .img_area .img_area_r { display: block; float: none; width: 100%; padding: 0;}

.models .models_tab .tabBox .img_area .img_area_r a { cursor:default; }
.models .models_tab .tabBox .img_area .img_area_r a img { width:100%; }
.models .models_tab .tabBox .img_area .img_area_r a .zoom { display: none; }

.models .models_tab .tabBox .img_area .img_area_r .img_inner_l { width: 100%; margin-right:0; margin-bottom: 10px; }
.models .models_tab .tabBox .img_area .img_area_r .img_inner_r { width: 100%; }
.models .models_tab .tabBox .txt_area { width: 100%; margin-bottom: 0;}
.models .models_tab .tabBox .txt_area .tit_area { padding-bottom: 2px; margin-bottom: 11px; font-size: 182%;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: block; float: none;  width: 95%; margin: 0; padding-left: 4.6%;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { font-size: 108%;}


/* =========================================================
 ◆ Design Page CSS
========================================================= */
.design #Mainvis { padding-bottom:20px; }
.design #Mainvis #Mainvis_inner { width:100%; padding-top: 0; }
.design #Mainvis h2 { margin-bottom:24px; }
.design #Main .titlearea01 h2.titlestyle01 { padding-bottom:2px; }
.design .section_wrap { padding:25px 0 0; }

.design .forward { width:100%; margin-bottom:56px; }
.design .forward .forward_inner { padding:27px 5.6% 30px; }
.design .forward .forward_inner .box_wrap { margin-bottom: 28px; width: auto; }
.design .forward .forward_inner  h2 { font-size: 28px; margin-bottom: 5px; }
.design .forward .forward_inner .fi_box01 img { width:100%; margin: 0 auto; padding: 0; }
.design .forward .forward_inner .fi_box01_L { width: 100%; display: block; float: none; }

.design .box_style01 { width:100%; padding: 25px 0 40px; margin:0 auto;}
.design .box_style01 h2 { font-size:28px; margin-bottom:5px; }
.design .box_style01 .box_wrap { margin-bottom: 28px; }
.design .box_style01 .space_list img { width: 100%; height:auto; }
.design .box_style01 .box_wrap img { width: 100%; height:auto; }
.design .box_style01 ul.space_list li { width:100%; display:inline; float:left; margin:0 0 20px 0; }
.design .box_style01 .box_wrap .txt_area_R { width: 100%; height: auto; clear: both; }
.design .box_style01 .img_left { width: 100%; height:auto; margin: 0; }
.design .box_style01 h4 { font-size: 21px; margin-bottom: 5px; }

.design .exterior { width: 87.5%; margin-bottom:55px; }
.design .exterior h2 { font-size:28px; margin-bottom:19px; }
.design .exterior ul li { width:100%; float:none; margin:0 0 20px; }
.design .exterior ul li.last { margin-bottom: 0; }
.design .exterior ul li figure figcaption { height:auto !important; }
.design .exterior ul li figure img { margin-bottom: 10px; width: 100%; }
.design .exterior ul li figure h3{ font-size:21px; margin-bottom:0; }

.design .interior .interior_inner { width:100%; padding:25px 0 31px; }
.design .interior h2 { font-size:36px; padding-bottom:2px; width:130px; margin-bottom:22px; }
.design .interior h3 { font-size:27px; text-align:left; width:87%; margin:0 auto 7px; }
.design .interior p { width:87%; margin-bottom:25px; }
.design .interior .seat_panel { width: 87.5%; margin: 0 auto 15px; }
.design .interior h4 { font-size:24px; padding: 20px 0 6px; margin-bottom: 15px; }
.design .interior .titstyle_01 {  color:#999; }

.design .interior .seat_panel img { width: 100%; height:auto; }
.design .interior ul.seat_panel_list li { width:100%; display:inline; float:left; margin:0 0 20px 0; }

.design .liberating p { width:87%; margin-bottom: 25px; }
.design .liberating h2+p { width:87%; margin-bottom:25px; }
.design .liberating h2 { font-size:27px; text-align:left !important; width:87%; margin:0 auto 7px; }
.design .liberating #flexslider { margin-bottom:30px;}
 
.design .seating { width: 87.5%; margin-bottom: 0; }
.design .seating h3 { font-size:28px; margin-bottom:19px; }
.design .seating ul li { width:100%; float:none; margin:0 0 20px; }
.design .seating ul li.last { margin-bottom: 0; }
.design .seating ul li figure figcaption { height:auto !important; }
.design .seating ul li figure img { margin-bottom: 10px; width: 100%; }
.design .seating ul li figure h3{ font-size:21px; margin-bottom:0; }
 
.design .second-row { width:87.5%; margin:0 auto 40px !important; }
.design .second-row .l_box { width:100%; }
.design .second-row .r_box { width:100%; margin-bottom:10px; }
.design .second-row .img_4wd { display:block; width: 100%; margin-bottom: 20px;}

.design  .row-seats h3 { padding-bottom: 2px; margin-bottom:11px; }
.design  .row-seats { width:87.5%; margin: 0 auto; }
.design  .row-seats .txtstyle_01 { margin-bottom: 15px; }
.design  .row-seats .r_box { width:100%; display:inline;float:left; }
.design  .row-seats .l_box { width: 100%; margin-right:0; margin-bottom: 20px;}
.design  .row-seats .l_box img { width: 100%; height:auto;  }

.design .box_style01 .box_wrap_L { width: 100%; height:auto; display: block; float: none; margin: 0 auto; }
.design .box_style01 .box_wrap_L p { margin-bottom: 30px; }
.design .box_style01 .box_wrap_R { width: 100%; height:auto; display: block; float: none; margin: 0 auto; }

 
.design.old_android header { position: static; }


/* =========================================================
 ◆ Safety CSS
========================================================= */
.safety #Main h2 { margin-bottom: 10px; }
.safety #Main h2 span.super { font-size: 15px; }
.safety #Main h2 span.mtxt { font-size: 37px; }
.safety #Main h4,
.safety #Main h3 { font-size: 24px; color:#666666; padding-bottom: 5px; margin-bottom: 15px; }
.safety #Main h3 { padding-bottom: 2px; margin-bottom:11px; }
.safety #Main .section_wrap p { font-size: 16px; }

.safety #Main .section_wrap img { width: 100%; }
.safety #Main .section_wrap section { width: 87.5%; margin-bottom: 15px; }
.safety #Main .cont_head { width: 100%; height: 570px; margin: 0 auto; background:url(../../safety/images/bg_main_sp.png) center bottom no-repeat; margin-bottom: 60px; background-size: cover !important; }
.safety #Main .cont_head .cont_head_inner .title_box h2 span.mtxt { color: #ffffff; text-align: center; }
.safety #Main .cont_head .cont_head_inner .title_box p { width: 100%; text-align: center; font-size:16px; color: #ffffff; line-height:22.5px; margin: 0 auto; }
.safety #Main .cont_head .cont_head_inner .title_box .titstyle_01 { text-align: center; } 
.safety #Main .cont_head { margin-bottom:49px; }
.safety #Main .cont_head .cont_head_inner .title_box { text-align: center; }
.safety #Main .cont_head .cont_head_inner { width: 87.5%; padding-top: 23px; } 

.safety #Main .adaptive .adaptive_box01 { margin-bottom:30px; }
.safety #Main .adaptive .adaptive_box01.last { margin-bottom:0; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_R { width: 100%; display: block; float: none; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_R1 { width: 100%; display: block; float: none; }
.safety #Main .adaptive .adaptive_box01 .adaptive_box_R2 { width: 100%; display: block; float: none; }
.safety #Main .adaptive h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.safety #Main .forward .p_wrapper { width: 100%; }
.safety #Main .forward .p_wrapper .p_inner { width: 100%; }
.safety #Main .forward .adaptive_box01 .adaptive_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .forward .forward_box01 { margin-bottom:30px; }
.safety #Main .forward .forward_box01.last { margin-bottom:0; }
.safety #Main .forward .forward_box01 .forward_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .forward .forward_box01 .forward_box_R { width: 100%; display: block; float: none; }
.safety #Main .forward .forward_box01 .forward_box_R1 { width: 100%; display: block; float: none; }
.safety #Main .forward .forward_box01 .forward_box_R2 { width: 100%; display: block; float: none; }
.safety #Main .forward h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.safety #Main .section_wrap .note p { width: 100%; margin-bottom: 30px; }

.safety #Main .hsa .hsa_box01 { margin-bottom:30px; }
.safety #Main .hsa .hsa_box01.last { margin-bottom:0; }
.safety #Main .hsa .hsa_box01 .hsa_box01_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .hsa .hsa_box01 .hsa_box01_R { width: 100%; display: block; float: none; }
.safety #Main .hsa .hsa_box01 .hsa_box02_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .hsa .hsa_box01 .hsa_box02_R { width: 100%; display: block; float: none; }
.safety #Main .hsa h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

/* =========================================================
 ◆ gallery CSS
========================================================= */
.gallery #Main h2 span.mtxt,
.gallery #Mainvis h2 span.mtxt { font-size:38px;}
.gallery #Main h2 span.super { margin-bottom: 5px; }
.gallery #Main .scenes_inner .titlearea01 { margin-bottom: 2px; padding-top: 23px !important; }
.gallery #Main .scenes_inner { width:100%; padding: 0 0 30px; }
.gallery .scenes h2 { font-size:36px; padding-bottom:2px; margin-bottom:23px; }
.gallery #Main .titlearea01 { margin-bottom: 8px !important; }
.gallery #Main .titlearea01 .titlestyle01 { padding: 0 14px;}
.gallery #Main .movie { width: 100%;}
.gallery #Main .movie .movie_inner {width: 87.5%; margin: 0 auto; padding: 8% 0 9.375%; display: block; position: relative; }
.gallery #Main .movie .movie_inner .titlearea01 { padding-top: 0 !important; }
.gallery #Main .movie .movie_inner .titlearea01 .titlestyle01 { padding-bottom: 2px; margin-bottom: 17px; }
.gallery #Main .movie .movie_inner .movie_main { width: 100%; display: block; height: auto; overflow: hidden; }
.gallery #Main .movie .movie_inner .movie_thumb { width: 100%; height: auto; }
.gallery #Main .movie .movie_inner .movie_thumb img { width: 100%;}
.gallery #Main .movie .movie_inner .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 300px; }

.movie_sp_wrap{ position: relative ; margin:0px ; padding-top: 0px ; padding-bottom: 57% ; overflow: hidden ; }
.movie_sp_wrap iframe { position: absolute ; top: 0 ; left: 0 ; height: 100% ; width: 100% ; }

.gallery #Main .views360 .views360_inner { padding-top: 0px; padding-bottom: 37px;}
.gallery #Main .views360 .views360_inner .titlearea01 .titlestyle01 { padding-bottom:2px; }
.gallery #Main .views360 .views360_inner .views360_main { width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area { width: 84%; height: auto; margin: 0 auto;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area img {width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_right { width: 14px; top: 50%; left: 4.68%; margin-top: -10px;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_left { width: 14px; top: 50%; right: 4.68%; margin-top: -10px;}

/* =========================================================
 ◆ Entertainment Page CSS
========================================================= */
/* Main */
.entertainment #Mainvis #Mainvis_inner { width:100%; padding-top: 0; }
.entertainment .txtarea_main { text-align:center; width: 87.5%; padding: 0 6.25% !important; }
.entertainment .txtarea_main h2 { text-align:center; width: 100%; margin: 0; }
.entertainment .txtarea_main p { text-align:center; width: 100%; margin: 0; }

.entertainment .section_wrap { padding:15px 0 57px; }
.entertainment .entry_block { width:auto; padding:0 6.2% 0; }
.entertainment .entry_block ul { margin-bottom:10px; }
.entertainment .entry_block ul li { width:100%; float:none; margin:0 0 16px; }
.entertainment .entry_block ul li.mb0 { margin-bottom:16px !important; }
.entertainment .entry_block ul li figure img { margin-bottom:10px; width:100%; }
.entertainment .entry_block ul li figure figcaption { height:auto !important; }
.entertainment .entry_block ul li figure figcaption h3 { font-size:21px; }
.entertainment .entry_block p.note { margin-bottom:25px; }

.entertainment .entry_block .audio_block { margin-bottom:20px; }
.entertainment .entry_block .audioblock_L  { width:100%; float:none; margin-bottom:11px; }
.entertainment .entry_block .audioblock_L  img { width:100%; }
.entertainment .entry_block .audioblock_R { width: 100%; }
.entertainment .entry_block .audio_block .caption_block { width:100%; float:none; }
.entertainment .entry_block .audio_block .caption_block p.txt { margin-bottom:0px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.h3 { display:block; width:48%; float:left; font-size:21px; color:#333; line-height:1; margin-bottom:2px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block { display:block; width:48.4%; float:right; padding-top:2px; margin-left:3%; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block img { display:block; width:100%; margin-bottom:1px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block span.italic_title { display:block; font-size:10px; }
.entertainment .entry_block .audio_block .caption_block .italic_title { font-size:12px; font-style:italic; line-height:1.2; }
.entertainment .entry_block .audio_block .caption_block img { margin-bottom:9px; }


.entertainment .sound_system .ss_inner { width:auto; padding:0 6.2%; }
.entertainment .sound_system h2 { font-size:25px; margin-bottom:13px; padding-bottom:4px; }

.entertainment .sound_system .sound_system_box_01 .sound_system_box_L { width:100%; float:left; margin-bottom: 10px; }
.entertainment .sound_system .sound_system_box_01 .sound_system_box_R { width:100%; float:left; margin-bottom: 10px; }

.entertainment .sound_system .sound_system_box_02 .sound_system_box_L { width:100%; float:left; margin-right: 30px; }
.entertainment .sound_system .sound_system_box_02 .sound_system_box_L img { margin-bottom: 10px; }
.entertainment .sound_system .sound_system_box_02 .sound_system_box_R { width:100%; float:left; margin-bottom: 10px; }


/* =========================================================
 ◆ utility CSS
========================================================= */
.utility #Main { padding-top:50px; }

.utility .titlearea01 { margin-bottom:15px; }
.utility .titstyle_01 { }
.utility .txtstyle_01 { }
.utility #Main h2 { margin-bottom: 10px; }
.utility #Cont section img { width: 100%; }

.utility .txtarea_main { width:87.5%; margin:0 auto 49px; }
.utility .txtarea_main p { width:auto; font-size:16px; margin-left:0; color:#666; line-height: 22.5px; }

.utility .display_list01 { width:87.5%; margin:0 auto 50px; }
.utility .display_list01 li { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.utility .display_list01 li.right { }
.utility .display_list01 li figure {}
.utility .display_list01 li figure img { width: 100%; height: auto; }
.utility .display_list01 li figure h3 { font-size:21px; margin-bottom: 3px; }



/* =========================================================
 ◆ Specifications Page CSS
========================================================= */
/* Main */
.specifications .titlearea01 { margin-bottom:19px; }
.specifications section.wrap { width:88%; padding: 0; margin-bottom:50px; }

.specifications .section_head h3 { width:auto; float:none; font-size:21px;}
.specifications .section_head .check_wrap { width:auto; float:none; padding-top:14px; }
.specifications .section_head .check_wrap ul li { width:auto; float:left; background-repeat:no-repeat; background-position:0px 3px; -webkit-background-size: 10px; background-size: 10px; font-size:14px; color:#333; line-height:1.2; padding-left:17px; margin-right:16px; }
.specifications .section_head .check_wrap ul li.last { margin-right:0; }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not.png); }

.specifications .exterior { margin-bottom:51px; }
.specifications .exterior.ex2 h3 { margin-bottom:11px; }
.specifications .table_wrap_outer { position: relative; overflow: hidden; padding-bottom: 11px; }
.specifications .table_wrap_outer:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }
.specifications .table_wrap { overflow-x:scroll; margin-bottom:0; position: relative; }
/*.specifications .table_wrap:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }*/
.specifications .table_wrap::-webkit-scrollbar { height:10px; }
.specifications .table_wrap::-webkit-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .table_wrap::-webkit-scrollbar-thumb { border-radius:6px; background:#ccc; }

.specifications table { width:960px; margin-bottom:0 !important; }
.specifications th.col-02 { width:50px; }
.specifications th.col-03 { width:65px; }

.specifications p.note { margin-bottom:0;}
.specifications .dimensional { margin-bottom: 52px; }
.specifications .dimensional figure { position: relative; overflow: hidden; }
.specifications .dimensional figure .image { width:100%; height:150px; overflow-x:scroll; overflow-y: hidden; margin-bottom:14px; position: relative; }
.specifications .dimensional figure .image::-webkit-scrollbar { height:10px; }
.specifications .dimensional figure .image::-webkit-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .dimensional figure .image::-webkit-scrollbar-thumb { border-radius:6px; background:#ccc; }
.specifications .dimensional figure .image::-moz-scrollbar { height:10px; }
.specifications .dimensional figure .image::-moz-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .dimensional figure .image::-moz-scrollbar-thumb { border-radius:6px; background:#ccc; }
.specifications .dimensional figure:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 150px; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }
.specifications .dimensional figure img { width:960px; margin-bottom:0; max-width:960px; }
.specifications .dimensional figure figcaption { text-align: left; }

/* table 微調整 */
.specifications .annotation { margin-bottom:34px;}
.specifications .annotation p.left_txt { width:auto; float:none; margin-bottom:6px; }
.specifications .annotation p.right_txt { width:auto; float:none; }

.specifications .warning { margin-bottom:53px; }
.specifications .warning .warning_inner { padding:13px 16px; }
.specifications .warning p.tit { margin:0 0 4px; }
.specifications .warning ul { padding:0; }
.specifications .warning ul li { list-style-position:inside; }
.specifications .warning ul li.left_txt { width:auto; float:none; margin-bottom:2px; }
.specifications .warning ul li.right_txt { width:auto; float:none; }

.specifications .equipment h3 { margin-bottom:1px; }
.specifications .equipment .check_wrap { margin-bottom:4px; }


/* =========================================================
 ◆ Accessories Page CSS
========================================================= */
.accessories #Mainvis { padding-bottom:20px; }
.accessories #Mainvis #Mainvis_inner { width:87%; padding-top: 0; }
.accessories #Mainvis h2 { margin-bottom:24px; }
.accessories #Main .titlearea01 h2.titlestyle01 { padding-bottom:2px; }
.accessories .section_wrap { padding:25px 4.5% 0; }

.accessories .note { width:87%; margin:10px auto 0 auto}

.accessories #Mainvis .main_img { width:100%; margin-bottom:15px; }
.accessories #Mainvis .exterior_box_R { width:100%; margin-left:0; }
.accessories #Mainvis .exterior_box_L { width:100%; padding-top:0; margin-bottom:20px; }

.accessories .exterior_slide .exterior_slide_inner { width:100%; padding:0 0 31px; }

.accessories .interior .interior_inner { width:100%; padding:25px 0 31px; }
.accessories .interior h2 { font-size:36px; padding-bottom:2px; width:130px; margin-bottom:22px; }
.accessories .interior h3 { font-size:27px; text-align:left; width:87%; margin:0 auto 7px; }
.accessories .interior p { width:87%; margin:10px auto 0 auto; }
.accessories .interior .titlearea01 { padding-top:0 !important; }

.accessories .electric .electric_inner { width:100%; padding:25px 0 50px; }
.accessories .electric .titlearea01 { padding-top:0 !important; }
.accessories .electric h2 { margin-bottom:20px; }

.accessories.old_android header { position: static; }

/* =========================================================
 ◆ catalog CSS
========================================================= */
.catalog #Main { padding-top:50px; }
.catalog #Mainvis { padding-top:0; }
.catalog .titlearea01 { margin-bottom:20px; }
.catalog .catalogarea { width:87.5%; margin:0 auto; padding:0 6.25%; }
.catalog01 { margin-bottom:0 !important; }
.catalog02 { margin-bottom:35px !important; }
.catalogimg { display:none; }
.catalogimg_sp { margin-bottom:9px; display:inline; }
/* .catalogimg .downloadbtn_sp { display:inline; width:100%; height:15.8% !important; position:absolute; bottom:0;}
.catalogimg .downloadbtn { display:none; } */
.catalogbox { width:100%; }
.catalogbox a:hover { opacity:0.7; }
.catalogbox .catalog_tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; font-size:21px; }
.catalogbox .language { color:#666666; font-size:14px; }
.catalogbox ul li { display:inline; float:left; margin-right:3.57%; width:48.21% !important; margin-bottom:23px; }
.catalogimg {}
.catalogimg img { width:100%; }
.downloadbtn { width:100% !important; }

.catalog .titstyle_01 { font-size:28px; margin-bottom:15px; line-height:1.0; }
.catalog .catalogbox ul li a img.over { display: none; }
.catalog .catalogbox .type_ab img{ width:40px; height:15px }

.catalogbox ul li img { width:100%; }
.catalogbox ul li.last ,.catalogbox ul li.even_num { margin-right:0 !important; }
.catalogarea .titstyle_03 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; }
.catalogarea .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.catalogarea .f_box { display:block; width:100%; }
.gcc { margin-right:0 !important; }

}

/* screens smaller than 614
**************************************/
@media screen and (max-width: 614px){
.entertainment #Mainvis h2 .para01 { display: block; }
}

/* screens smaller than 433
**************************************/
@media screen and (max-width: 433px){
.entertainment #Mainvis h2 .para01 { display: inline; }
.entertainment #Mainvis h2 .para02 { display: block; }
}