@charset "utf-8";

/* =========================================================
　◆general style
========================================================= */
body { margin:0 auto; }
.table { display:table; width:100%; text-align:center;}
.table-cell { display:table-cell; text-align:center; vertical-align:middle; vertical-align:middle;}
.block  { padding:10px; }
p { font-size:12px; line-height:1.5em; font-weight:normal; }
img { display:block;}
.green { color:#00A73B !important;}
.blue { color:#00A0E8 !important;}
.pink { color:#E4007E !important;}
.noborder { border:none !important;}
.image { text-align:center;}
.image img { display:inline;}
.border img { border: solid 1px #a2a9ae;}
img { -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-moz-touch-callout:none; touch-callout:none;}



/* =========================================================
　◆titlestyle
========================================================= */


/* =========================================================
　◆boxstyle
========================================================= */


/* =========================================================
　◆liststyle
========================================================= */

